<%- contentFor('main-content') %>

<!-- Write a logic that will dynamically change the content of this page based on controller parameters -->
<!-- for instance we know that the controller passes a variable called title -->
<!--Use this title to change the content of each page based on the route-->
<!--All content should be placed here for now-->
<!--Tomorrow we are going to implement a cleaner dynamic content pages-->
 
<!--This is an example of what you are expected to do here-->

<!--POST VIEW STARTS HERE -->
<% if (title == 'Create Post') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Post Title:<br>
              <input type="text" name="post_title" value="Post Title">
              <br>
              Post Body:<br>
              <input type="text" name="post_body" value="Post Body">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Post') { %>
     
<% } else if (title == 'Update Post') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/post/<%= post.id %>/update" method="post">
              Post Title:<br>
              <input type="text" name="post_title" value="<%= post.post_title %>">
              <br>
              Post Body:<br>
              <input type="text" name="post_body" value="<%= post.post_body %>">
              <br><br>
              <input type="submit" value="Update">
            </form>
        </div>
    </div>
<% } else if (title == 'Post Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single post</h1>
             <p>I am a post for this ID = <%= post.id %></p>
             <p>Post Title: <%= post.post_title %></p>
             <p>Post Body:  <%= post.post_body %></p>
             <a href="/blog/post/<%= post.id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete Post</a>
        </div>
    </div>
<% } else if (title == 'Post List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% posts.forEach(function(post) { %>
                <li>
                    <h4><a href="/blog/post/<%= post.id %>"><%= post.post_title %></a></h4>
                    <p>The main body of the post <%= post.post_body %></p>
                     <a href="/blog/post/<%= post.id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete Post</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>
<% } else { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1><%= title %></h1>
            <p>The main content of the page goes here</p>
        </div>
    </div>
<% } %>
<!--POST VIEW END HERE-->

<!--AUTHOR VIEW STARTS HERE -->
<!--complete logic for author view-->
<% if (title == 'Create Author') {%>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              First Name:<br>
              <input type="text" name="first_name" placeholder="First Name">
              <br>
              Last Name:<br>
              <input type="text" name="last_name" placeholder="Last Name">
              <br>
              Username:<br>
              <input type="text" name="username" placeholder="Username">
              <br>
              Role:<br>
              <input type="text" name="role" placeholder="Role">
              <br>
              Email:<br>
              <input type="text" name="email" placeholder="Email">
              <br><br>
              
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Author') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/author/<%= author.id %>/delete" method="post">
              ID:<br>
              <input type="text" name="id" placeholder="author id">
              <br><br>
              <input type="submit" placeholder="Delete">
            </form>
        </div>
    </div>
<% } else if (title == 'Update Author') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/author/<%= author.id %>/update" method="post">
              First Name:<br>
              <input type="text" name="first_name" value="author.first_name">
              <br>
              Last Name:<br>
              <input type="text" name="last_name" value="author.last_name">
              <br>
              Username:<br>
              <input type="text" name="username" value="author.username">
              <br>
              Role:<br>
              <input type="text" name="role" value="author.role">
              <br>
              Email:<br>
              <input type="text" name="email" value="author.email">
              <br><br>
              
              <input type="submit" value="Update">
            </form>
        </div>
    </div>
<% } else if (title == 'Author Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single Author</h1>
             <p>I am an author for this ID = <%= author.id %></p>
             <p>First Name: <%= author.first_name %></p>
             <p>Last Name: <%= author.last_name %></p>
             <p>Username:  <%= user.username %></p>
             <p>Role: <%= author.role %></p>
             <p>Email:  <%= author.email %></p>
             <a href="/blog/author/<%= author.id %>/update">Edit  Author</a> | <a href="/blog/author/<%= author.id %>/delete">Delete Author</a>
        </div>
    </div>
<% } else if (title == 'Author List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% authors.forEach(function(author) { %>
                <li>
                    <h4><a href="/blog/author/<%= author.id %>"><%= author.first_name %> <%= author.last_name %></a></h4>
                    <p>Username: <%= author.username %></p>
                     <a href="/blog/author/<%= author.id %>/update">Edit  Author</a> | <a href="/blog/author/<%= author.id %>/delete">Delete Author</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>
<% } else { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1><%= title %></h1>
            <p>The main content of the page goes here</p>
        </div>
    </div>
<% } %>

<!-- AUTHOR VIEW END HERE -->


<!-- USER VIEW -->
<% if (title == 'Create User') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Full Name:<br>
              <input type="text" name="full_name" placeholder="Full Name">
              <br>
              Username:<br>
              <input type="text" name="username" placeholder="Username">
              <br>
              Email:<br>
              <input type="text" name="email" placeholder="Email">
              <br>
              Password:<br>
              <input type="text" name="password" placeholder="Password">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete User') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/user/<%= user.id %>/delete" method="post">
              ID:<br>
              <input type="text" name="id" placeholder="user id">
              <br><br>
              <input type="submit" value="Delete">
            </form>
        </div>
    </div>
<% } else if (title == 'Update User') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/user/<%= userpraises.id %>/update" method="post">
              Full Name:<br>
              <input type="text" name="full_name" value="user.full_name">
              <br>
              Username:<br>
              <input type="text" name="username" value="user.username">
              <br>
              Email:<br>
              <input type="text" name="email" value="user.email">
              <br>
              Password:<br>
              <input type="text" name="password" value="user.password">
              <br><br>
              <input type="submit" value="Update">
            </form>
        </div>
    </div>
<% } else if (title == 'User Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single User</h1>
             <p>I am a user for this ID = <%= user.id %></p>
             <p>Full Name: <%= user.full_name %></p>
             <p>Username:  <%= user.username %></p>
             <p>Email:  <%= user.email %></p>
             <a href="/blog/user/<%= user.id %>/update">Edit  User</a> | <a href="/blog/user/<%= user.id %>/delete">Delete Post</a>
        </div>
    </div>
<% } else if (title == 'User List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% users.forEach(function(user) { %>
                <li>
                    <h4><a href="/blog/user/<%= user.id %>"><%= user.full_name %></a></h4>
                    <p>Username: <%= user.username %></p>
                     <a href="/blog/user/<%= user.id %>/update">Edit  Post</a> | <a href="/blog/user/<%= user.id %>/delete">Delete User</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>
<% } else { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1><%= title %></h1>
            <p>The main content of the page goes here</p>
        </div>
    </div>
<% } %>


<!--CATEGORY VIEW END HERE-->


<!--do this for all the routes-->
<!--This is how you will dynamically change the content on the main page-->
<!--we already know that left and right side bar are mostly constant-->


